change-password {
    md-content {
        background: none;
    }
    .change-password-message {
        font-size: 12px;
        font-weight: 400;
        color: $danger;
        padding-top: 15px;
    }
}