<div flex layout>
    <span flex="10"></span>
    <div layout flex class="md-toolbar-tools">
        <span>Please input the following:</span>
    </div>
    <span flex="35"></span>
</div>

<form layout="row" role="form" flex ng-submit="changePassword.execute()">
    <span flex="10"></span>
    <md-content flex layout>
        <span flex="5"></span>
        <div layout="column" flex>
            <md-input-container>
                <label>Current password</label>
                <input ng-disabled="changePassword.isLoading" ng-model="changePassword.data.currentPassword" type="password" required md-autofocus>
            </md-input-container>
            <md-input-container>
                <label>New password</label>
                <input ng-disabled="changePassword.isLoading || !changePassword.data.currentPassword" ng-model="changePassword.data.newPassword"
                    type="password" required>
            </md-input-container>
            <md-input-container>
                <label>Retry password</label>
                <input ng-disabled="changePassword.isLoading || !changePassword.data.currentPassword" ng-model="changePassword.data.currentPasswordRetry"
                    type="password" required>
            </md-input-container>
            <div layout>
                <span class="change-password-message" flex>{{changePassword.message}}</span>
                <div ng-if="changePassword.isLoading">
                    <md-progress-circular md-mode="indeterminate"></md-progress-circular>
                </div>
                <md-button ng-disabled="changePassword.isLoading || !changePassword.data.newPassword || !changePassword.data.currentPasswordRetry || !(changePassword.data.newPassword === changePassword.data.currentPasswordRetry)"
                    class="md-primary md-raised" type="submit">
                    Update
                </md-button>
            </div>
        </div>
        <span flex="5"></span>
    </md-content>
    <span flex="35"></span>
</form>