<div class="mf-wrap">
    <div ng-if="$root.isSessionActive" layout class="main-toolbar md-default">
        <span class="main-header">{{mainFrame.getCurrent().label}}</span>
        <span ng-if="mainFrame.getCurrent().legend" layout class="breadcrumb">
	        <span class="main-header-breadcrumb">></span>
        <i class="{{mainFrame.getCurrent().legendFI}}"></i>
        <span>&nbsp;{{mainFrame.getCurrent().legend}}</span>
        </span>
        <!-- <div flex></div> -->
    </div>
    <md-content ui-view="mainFrame"></md-content>
</div>