info-bar {
    @extend .app-frame;
    padding: 12px 20px 0 0;
    md-list {
        -webkit-box-shadow: 0px 1px 4px #444;
        -moz-box-shadow: 0px 1px 4px #444;
        box-shadow: 0px 1px 4px #444;
        padding-top: 0px;
        padding-bottom: 0px;
        margin-top: 8px;
        background-color: #fff;
        .md-subheader .md-subheader-inner {
            padding: 13px 12px;
            .md-subheader-content {
                md-icon {
                    float: left;
                    height: auto;
                    margin-right: 10px;
                    font-size: 14px;
                }
                span {
                    font-size: 15px;
                }
            }
        }
        md-list-item {
            padding: 0 !important;
            .md-item-div {
                padding-bottom: 0;
                .md-circular {
                    padding-top: 12px;
                    padding-right: 0px;
                }
                .md-list-item-text {
                    a.md-primary.md-button {
                        padding: 0 10px;
                        margin-left: 0;
                        margin-right: 0;
                        text-align: left;
                        text-transform: capitalize;
                        font-size: 12px;
                        text-overflow: ellipsis;
                        // white-space: normal;
                        // line-height: 14px;
                    }
                }
                .md-circular-close {
                    padding-top: 18px;
                    padding-left: 3px;
                }
            }
            md-input-container {
                padding: 0 15px;
                margin-top: 30px;
                margin-bottom: 0;
                label:not(.md-container-ignore) {
                    color: #999;
                    font-size: 14px;
                    padding-bottom: 4px;
                    color: #000;
                    left: 14px;
                }
                .md-input {
                    border-color: #000;
                }
                md-select {
                    margin-bottom: 30px;
                    .md-select-value.md-select-placeholder {
                        color: #000;
                        font-size: 13px;
                        border-color: #000;
                        padding-bottom: 1px;
                    }
                    .md-select-value {
                        border-color: #000;
                    }
                }
            }
            div.md-no-style {
                div.person-type {
                    border-bottom: solid 1px #000;
                    padding: 0 1px;
                    h4 {
                        font-weight: 400;
                        font-size: 13px;
                        padding-bottom: 7px;
                        margin: 0;
                    }
                    md-checkbox {
                        .md-label {
                            margin-top: 4px;
                        }
                    }
                    > div {
                        padding: 0 3px;
                    }
                }
            }
            .import-wrap {
                width: 100%;

                .counts {
                    text-align: center;
                    padding-bottom: 12px;

                    .tracker {
                        text-decoration: none;
                    }
                }
            }
        }
        md-list-item.date-picker {
            h4 {
                margin: 30px 15px 0;
                font-weight: 400;
                font-size: 13px;
            }
            md-datepicker {
                background-color: transparent;
                padding-right: 0;
                .md-datepicker-input-container {
                    margin-left: 0px;
                    border-color: #000;
                    input {
                        width: 165px;
                        font-size: 13px;
                    }
                }
            }
        }
        md-list-item.date-picker:last-child {
            padding-bottom: 20px !important;
        }
    }
}