<md-list ng-if="exportCompleted.exports && exportCompleted.exports.length && !exportCompleted.isLoading">
    <md-subheader class="md-no-sticky clickable" ng-click="exportCompleted.shown=!exportCompleted.shown">
        <md-icon ng-if="exportCompleted.shown" md-font-icon="fa fa-caret-up"></md-icon>
        <md-icon ng-if="!exportCompleted.shown" md-font-icon="fa fa-caret-down"></md-icon>
        Export Completed
    </md-subheader>
    <md-list-item ng-if="exportCompleted.shown" ng-repeat="export in exportCompleted.exports">
        <div layout="row" class="md-item-div">
            <div class="md-circular">
                <img height="24" width="25" ng-src="{{exportCompleted.getIcon(export)}}">
            </div>
            <div class="md-list-item-text" layout="column" flex>
                <md-button md-tooltip="{{ export.description }}" class="md-primary" ng-href="{{exportCompleted.getLink(export.fileId)}}"
                    target="_blank">
                    <md-tooltip md-direction="top">
                        {{export.description}}
                    </md-tooltip>
                    {{ export.description }}
                </md-button>
            </div>
            <div class="md-circular-close">
                <md-progress-circular md-diameter="20px" ng-if="export.isRemoving" md-mode="indeterminate"></md-progress-circular>
                <md-icon ng-if="!export.isRemoving" md-font-icon="fa fa-close" ng-click="exportCompleted.removeExport($event, export)"></md-icon>
            </div>
        </div>
    </md-list-item>
</md-list>
<div class="div-loader" ng-if="exportCompleted.isLoading">
    <md-progress-circular md-mode="indeterminate"></md-progress-circular>
</div>