<div ng-if="setting.isLoading" flex>
    <md-progress-circular md-mode="indeterminate"></md-progress-circular>
</div>
<md-content ng-if="!setting.isLoading">
    <div layout class="md-table-toolbar setting-toolbar">
        <form layout="row" flex role="form" ng-submit="setting.onSubmit()">
            <span class="setting-header" ng-click="setting.toggle=!setting.toggle">School year</span>
            <div flex></div>
            <input required placeholder="Search or add school year" ng-model="setting.schoolYearInput">
            <md-button class="md-icon-button">
                <i emit-event='getSchoolYears' event-class="fa-spin" class="fa fa-refresh"></i>
                <md-tooltip>Refresh</md-tooltip>
            </md-button>
        </form>
    </div>
    <md-table-container ng-if="!setting.toggle" flex ng-if="!setting.isLoading">
        <table md-table>
            <thead md-head>
                <tr md-row>
                    <th md-column>No.</th>
                    <th md-column>Description</th>
                    <th md-column>Start</th>
                    <th md-column>End</th>
                    <th md-column></th>
                </tr>
            </thead>
            <tbody md-body ng-repeat="schoolYear in setting.schoolYears | filter: {description: setting.schoolYearInput}">
                <tr md-row>
                    <td md-cell ng-if="schoolYear._id">{{($index + 1)}}</td>
                    <td md-cell ng-if="schoolYear._id">{{::schoolYear.description}}</td>
                    <td md-cell ng-if="schoolYear._id">{{::schoolYear.dateStart | date : 'MM-dd-yyyy'}}</td>
                    <td md-cell ng-if="schoolYear._id">{{::schoolYear.dateEnd | date : 'MM-dd-yyyy'}}</td>
                    <td md-cell ng-if="schoolYear._id" layout>
                        <span flex></span>
                        <md-button class="md-icon-button" ng-click="schoolYear.toggle=!schoolYear.toggle">
                            <md-icon class="md-primary" md-font-icon="fa fa-gear"></md-icon>
                            <md-tooltip>Edit semester</md-tooltip>
                        </md-button>
                        <md-button class="md-icon-button" event-data="schoolYear" emit-event="openEditSchoolYearDialog" event-complete="setting.dialogEventComplete">
                            <md-icon class="md-primary" md-font-icon="fa fa-pencil"></md-icon>
                            <md-tooltip>Edit {{::schoolYear.description}}</md-tooltip>
                        </md-button>
                        <md-button class="md-icon-button" event-data="schoolYear" emit-event="openRemoveSchoolYearConfirmDialog" event-complete="setting.openConfirmEventComplete">
                            <md-icon class="md-accent" md-font-icon="fa fa-trash-o"></md-icon>
                            <md-tooltip>Remove {{::schoolYear.description}}</md-tooltip>
                        </md-button>
                    </td>
                    <td colspan="5" md-cell ng-if="!schoolYear.description">{{::schoolYear}}</td>
                </tr>
                <tr class="semester-row" md-row ng-if="schoolYear && schoolYear.toggle">
                    <td md-cell colspan="5">
                        <semester-setting school-year="schoolYear"></semester-setting>
                    </td>
                </tr>
            </tbody>
        </table>
    </md-table-container>
</md-content>