<md-dialog class="create-form-dialog" aria-label="createForm form">
    <md-toolbar class="primary">
        <div class="md-toolbar-tools">
            <h3>{{createForm.title}}</h3>
            <span flex></span>
            <md-button ng-disabled="createForm.isSubmitting" class="md-icon-button"
                       ng-click="createForm.cancelUpload()">
                <md-icon md-font-icon="fa fa-close" aria-label="Close dialog"></md-icon>
            </md-button>
        </div>
    </md-toolbar>
    <md-dialog-content layout-padding="1">

    </md-dialog-content>
    <md-dialog-actions layout="row">
        <div ng-if="createForm.isSubmitting">
            <md-progress-circular md-mode="indeterminate"></md-progress-circular>
        </div>
        <md-button ng-click="createForm.save()"
                   ng-disabled="!createForm.data.imageId || createForm.isSubmitting"
                   class="md-primary md-raised">
            {{createForm.submitLabel}}
            <md-tooltip>{{createForm.submitLabel}}</md-tooltip>
        </md-button>
        <md-button ng-disabled="createForm.isSubmitting" ng-click="createForm.cancelUpload()"
                   class="md-accent md-raised">
            {{createForm.cancelLabel}}
            <md-tooltip>{{createForm.cancelLabel}}</md-tooltip>
        </md-button>
    </md-dialog-actions>
</md-dialog>