<md-dialog class="import-dialog" aria-label="Import setting form">
    <md-toolbar class="primary">
        <div class="md-toolbar-tools">
            <h3>Import setting</h3>
            <span flex></span>
            <div ng-if="importSettingDialog.isSubmitting">
                <md-progress-circular class="md-accent" md-mode="indeterminate"></md-progress-circular>
            </div>
            <md-button ng-if="!importSettingDialog.isSubmitting" class="md-icon-button" ng-click="importSettingDialog.cancel()">
                <md-icon md-font-icon="fa fa-close" aria-label="Close dialog"></md-icon>
            </md-button>
        </div>
    </md-toolbar>
    <md-dialog-content layout="column" layout-padding="1">
        <md-content layout="row">
            <md-input-container flex>
                <label for="importSettingFileField">File</label>
                <input id="importSettingFileField" ng-model="importSettingDialog.uploadFile.name">
            </md-input-container>
            <div>
                <md-button ngf-change="importSettingDialog.onFileChange()" class="md-primary md-raised" ngf-select ng-model="importSettingDialog.uploadFile" name="uploadFile" ngf-pattern="'*.csv'" ngf-accept="'.csv'" ngf-max-size="20MB">Browse</md-button>
            </div>
        </md-content>
        <div ng-if="importSettingDialog.isSubmitting">
            <md-progress-linear md-mode="determinate" value="{{importSettingDialog.progress}}"></md-progress-linear>
        </div>
    </md-dialog-content>
    <md-dialog-actions layout="row">
        <md-button emit-event="uploadSingleFile" event-fail="importSettingDialog.onUploadFail" event-complete="importSettingDialog.onUploadComplete" event-debouce="true" event-data="importSettingDialog.uploadData" ng-disabled="!importSettingDialog.uploadFile"
            class="md-primary md-raised">
            Upload
            <md-tooltip>Upload</md-tooltip>
        </md-button>
        <md-button ng-disabled="importSettingDialog.isSubmitting" ng-click="importSettingDialog.cancel()" class="md-accent md-raised ">
            Cancel
            <md-tooltip>Cancel</md-tooltip>
        </md-button>
    </md-dialog-actions>
</md-dialog>