.import-dialog {
    width: 650px;
    button.md-button.md-raised,
    button.md-button.md-raised:hover,
    button.md-button.md-raised:active {
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        box-shadow: none;
        text-transform: capitalize;
    }
    md-toolbar {
        min-height: 42px;
        .md-toolbar-tools {
            font-size: 16px;
            height: 42px;
            .md-icon-button.md-button.md-ink-ripple {
                margin-top: 5px;
            }
        }
    }
    md-input-container {
        label {
            color: #000;
            padding-bottom: 5px;
        }
        input.md-input {
            border-color: #000;
        }
        button.md-button.md-primary.md-raised {
            float: right;
            margin-top: 10px;
        }
        button.md-button.md-primary.md-raised:active {
            margin-top: 12px;
        }
    }
}