login {

	p {
		width: 100%;
		text-align: center;
		color: #fff;
		text-shadow: 0px 1px 1px rgba(14, 11, 70, 1);
	}
    md-content {
        background: none;
    }
    .login-message {
        font-size: 12px;
        font-weight: 400;
        color: $danger;
        padding-top: 15px;
    }
    .form-wrap {
    	background-color: rgba(191,155,48,0.60);
	    border-radius: 15px;
	    box-shadow: 0px 1px 3px #444;
	    padding: 25px !important;

	    md-icon[md-font-icon] {
	    	font-size: 18px;
	    	color: #fff;
	    }
	    md-input-container.md-has-icon {
	    	padding: 0;
	    	margin-bottom: 0;

	    	label:not(.md-no-float):not(.md-container-ignore) {
	    		color: #fff;
	    		padding-bottom: 8px;
	    		padding-left: 0px;
	    	}
	    	.md-input {
	    		border-color: #fff;
	    		padding-left: 35px;
	    		color: #fff;
	    		font-size: 16px;
	    	}
	    	input:-webkit-autofill {
	    		background-color: transparent;
	    		color: #fff;
	    	}
	    }
    	button.md-button.md-primary.md-raised {
    		text-transform: capitalize;
    	}
    }
}