toolbar-logo {
  padding: 2px;
  .school-title {
    margin-left: 2px;
    @extend .app-title;
  }
  .school-sub-title {
    margin-left: 2px;
    @extend .app-sub-title;
  }
  .school-logo {
    @extend .app-logo;
  }
}