school-setting {
    .md-toolbar-tools {
        // border-top: 1px solid $borderColor;
        input {
            @extend .gds-input-for-md;
            &:focus {
                border-bottom: 1px solid $primary;
                border-right: 1px solid $primary;
            }
        }
    }
    .setting-header {
        cursor: pointer;
        // padding-left: 25px;
        font-size: 16px;
        font-weight: 400;
        margin-top: 10px;
        outline: none;
        padding-bottom: 5px;
        &:hover {
            color: $info;
        }
        color: #000;
    }
    .setting-toolbar {
        width: 100%;
        background-color: transparent;
        margin-bottom: 5px;
        @extend .primary;
        // padding-left: 5px;
        // border-top: 1px solid $borderColor;
        input {
            @extend .gds-input-for-md;
            height: 22px;
            padding: 5px;
            margin-top: 1px;
            // font-size: 14px;
            border: solid 1px #aaa;
            -moz-border-radius: 5px;
            -webkit-border-radius: 5px;
            border-radius: 5px;
            width: 200px;
            color: #000;
            &:focus {
                border: 1px solid $primary;
            }
            &:hover {
                border: 1px solid $primary;
            }
        }
        button.md-icon-button.md-button.md-ink-ripple {
            margin: 0;
            height: auto;
            min-width: 0;
            min-height: 0;
            width: 40px;
            border-radius: 0;
            line-height: 18px;
            padding: 0;
            border-radius: 4px;
            background-color: lighten($primary, 20%);
            i {
                color: #fff;
                padding: 5px;
                border-radius: 3px;
            }
        }
    }
    md-table-container {
        margin-bottom: 25px;
    }
}