<md-list ng-if="importFailed.imports && importFailed.imports.length && !importFailed.isLoading">
    <md-subheader class="md-no-sticky clickable" ng-click="importFailed.shown=!importFailed.shown">
        <md-icon ng-if="importFailed.shown" md-font-icon="fa fa-caret-up"></md-icon>
        <md-icon ng-if="!importFailed.shown" md-font-icon="fa fa-caret-down"></md-icon>
        Import Failed
    </md-subheader>
    <md-list-item ng-if="importFailed.shown" ng-repeat="import in importFailed.imports" class="md-col-3">
        <div layout="row" class="md-item-div">
            <div class="md-circular">
                <img height="24" width="25" ng-src="{{importFailed.getIcon(import)}}">
            </div>
            <div class="md-list-item-text" layout="column" flex>
                <md-button ui-sref="importLog({importId:import._id})" md-tooltip="{{ import.description }}" class="md-primary">
                    <md-tooltip md-direction="top">
                        {{import.description}}
                    </md-tooltip>
                    {{ import.description }}
                </md-button>
                <div layout>
                    <span class="tracker total" flex>Total: {{import.progressLimit}}
                        <md-tooltip>{{import.progressLimit}}</md-tooltip>
                    </span>
                    <span ng-if="import.errorCount > 0" class="tracker error" flex>Errors: {{import.errorCount}}
                        <md-tooltip>{{import.errorCount}}</md-tooltip>
                    </span>
                    <span class="tracker success" flex> Sucess: {{import.progressLimit - import.errorCount}}
                        <md-tooltip>{{import.progressLimit - import.errorCount}}</md-tooltip>
                    </span>
                </div>
            </div>
            <div class="md-circular-close">
                <md-icon md-font-icon="fa fa-close" event-class="faa-flash animated" event-debounce="true" emit-event="openRemoveImportConfirmDialog" event-data="import"></md-icon>
            </div>
        </div>
    </md-list-item>
</md-list>
<div class="div-loader" ng-if="importFailed.isLoading">
    <md-progress-circular md-mode="indeterminate"></md-progress-circular>
</div>