@import "app.variables";
@import "app.mixin";
.clickable {
    cursor: pointer;
    md-icon {
        font-size: 20px;
        font-weight: 100;
    }
}

.bg {
    background: url(/img/bg/eg.jpg);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

body {
    @extend .bg;
    background-color: #f2f2f2;
    font-family: $fontFamily;
    font-size: $fontSize;
}


/* THEME */


/* .main-toolbar {
    background-color: $appBackground ;
}

.no-bg-color {
    background-color: transparent ;
} /*


/* END THEME */

.app-frame {
    @include content-border();
    padding: 4px;
    background: transparent;
    overflow-y: auto;
}

.main-content {
    background: none;
    padding: 4px;
}

.frame-view-component {
    width: 100%;
}

.app-title {
    color: white;
    font-family: Old English Text MT;
}

.app-sub-title {
    color: white;
    font-family: Myriad Pro Regular;
    font-size: $subTitleFontSize;
}

.app-logo {
    height: $logoHeight;
    width: $logoWidth;
}

.primary {
    background-color: $primary;
    color: $white;
    * {
        color: $white;
    }
}

button[disabled~=disabled] {
    &.primary {
        color: $disabledColor;
        background-color: $disabledBackgroundColor;
        cursor: default;
    }
}

.md-sidenav-left {
    @extend .app-frame;
    width: $sidenavLeftWidth;
    padding: 10px 10px 0;
}

.md-input-container label {
    color: $primary;
}

.gds-input-for-md {
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 1px solid $borderColor;
    outline: none;
    background: none;
}

// GENERAL
div.clearblock {
    clear: both;
    content: '';
    display: block;
}

// Buttons with type
div[ui-view="control"] {
    margin-left: 15px; //this can be placed in page-control directive
}

button.md-button.md-primary.md-raised,
md-dialog-actions  button[ng-click="dialog.hide()"].md-button.md-default-theme.md-primary,
md-dialog-actions  button[ng-click="dialog.abort()"].md-button.md-default-theme.md-primary {
    border-radius: 4px;
    background-color: #303F9F;
    border-bottom: solid 2px #1A237E;
    float: left;
    margin-right: 0;
    margin-left: 10px;
    color: #fff;
    text-transform: capitalize;
}
md-dialog-actions  button[ng-click="dialog.abort()"].md-button.md-default-theme.md-primary {
    background-color: #F44336;
    border-bottom-color: #D32F2F;
}
button.md-button.md-primary.md-raised:not([disabled]):hover,
md-dialog-actions  button[ng-click="dialog.hide()"].md-button.md-default-theme.md-primary:hover {
    background-color: #3F51B5;
}
md-dialog-actions  button[ng-click="dialog.abort()"].md-button.md-default-theme.md-primary:hover {
    background-color: #EF5350;
}
button.md-button.md-primary.md-raised:active,
button.md-button.md-primary.md-raised:disabled,
md-dialog-actions  button[ng-click="dialog.hide()"].md-button.md-default-theme.md-primary:active,
md-dialog-actions  button[ng-click="dialog.abort()"].md-button.md-default-theme.md-primary:active {
    border-bottom: 0;
    margin-top: 1px;
}
button.md-button.md-primary.md-raised:active span,
button.md-button.md-primary.md-raised:disabled span {
    color: rgba(255, 255, 255, 0.30);
}
md-dialog-actions .md-button.md-default-theme.md-primary {
    margin-top: 0;
}

// Header Toolbar
md-toolbar.main-toolbar {
    //this should be placed in main-frame component
    padding: 4px 0;
    border-bottom: solid 4px #1A237E;
    background-color: #BF9B30;
}

// Main Content
md-content.main-content {
    //this should be placed in main-frame component
    padding: 0;
}

// Side Nav
md-content md-sidenav.md-sidenav-left {
    background-color: #BF9B30;
    border-right: solid 4px #1A237E;
    padding: 0;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

.placeholder-div {
    @extend .app-frame;
    height: 50px;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

.tracker {
    text-decoration: underline;
    padding: 2px;
    &.total {
        color: $info;
    }
    &.error {
        color: $danger;
    }
    &.success {
        color: $success;
    }
}

@import "app/core/clock/clock";
@import "app/core/toolbar-logo/toolbar-logo";
@import "app/core/main-frame/main-frame";
@import "app/core/info-bar/info-bar";
@import "monitor/monitor";
@import "app/core/page-control/page-control";
@import "app/core/navigation-links/navigation-links";
@import "exporter/tracker/export-in-progress/export-in-progress";
@import "exporter/tracker/export-completed/export-completed";
@import "exporter/tracker/export-failed/export-failed";
@import "app/core/frame-legend/frame-legend";
@import "school/setting/purpose-setting/purpose-setting";
@import "school/link/school-link";
@import "school/setting/setting";
@import "school/setting/school-year-setting/school-year-setting";
@import "school/setting/semester-setting/semester-setting";
@import "login/login";
@import "user/change-password/change-password";
@import "monitor/link/monitor-link";
@import "reports/links/reports-link";
@import "students/links/students-link";
@import "faculty/links/faculty-link";
@import "reports/settings/reports-settings";
@import "reports/content/reports-content";
@import "reports/content/bar-chart/repors-bar-chart";
@import "reports/content/line-chart/reports-line-chart";
@import "school/id-lock-dialog/school-id-lock.scss";
@import "importer/setting-dialog/import-setting-dialog";
@import "importer/tracker/tracker";
@import "importer/logs/import-logs";
@import "user/create-user/create-user.scss";
@import "students/settings/filter-settings.scss";
@import "faculty/settings/filter-settings.scss";