@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700);
@import "app.variables";
@import "app.mixin";
body {
    background-color: #f2f2f2;
    font-family: $fontFamily;
    font-size: $fontSize;
}

button {
    border-radius: 0 !important;
}


/* THEME */

.main-toolbar {
    background-color: $appBackground !important;
}

.no-bg-color {
    background-color: transparent !important;
}


/* END THEME */

.app-frame {
    @include box(4px);
    @include content-border();
    padding: 5px;
    background: $mainFrameBackground !important;
}

.main-content {
    background: none;
    padding: 4px;
}

.frame-view-component {
    width: 100%;
}

.app-title {
    color: white;
    font-family: Old English Text MT;
}

.app-sub-title {
    color: white;
    font-family: Myriad Pro Regular;
    font-size: $subTitleFontSize !important;
}

.app-logo {
    height: $logoHeight;
    width: $logoWidth;
}

.primary {
    background-color: $primary !important;
    color: $white;
    * {
        color: $white;
    }
}

button[disabled~=disabled] {
    &.primary {
        color: $disabledColor !important;
        background-color: $disabledBackgroundColor !important;
        cursor: default;
    }
}

.md-sidenav-left {
    background: none;
    width: $sidenavLeftWidth;
    @extend .app-frame;
}

.md-sidenav-left {
    background-color: transparent !important;
    padding: 10px 10px 0 !important;
}

.md-input-container label {
    color: $primary;
}

.gds-input-for-md {
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 1px solid $borderColor;
    outline: none;
    background: none;
}

@import "app/core/clock/clock";
@import "app/core/toolbar-logo/toolbar-logo";
@import "app/core/main-frame/main-frame";
@import "app/core/info-bar/info-bar";
@import "monitor/monitor";
@import "app/core/page-control/page-control";
@import "app/core/navigation-links/navigation-links";
@import "exporter/tracker/export-in-progress/export-in-progress";
@import "exporter/tracker/export-completed/export-completed";
@import "exporter/tracker/export-failed/export-failed";
@import "app/core/frame-legend/frame-legend";
@import "school/setting/purpose-setting/purpose-setting";
@import "school/link/school-link";
@import "school/setting/setting";
@import "school/setting/school-year-setting/school-year-setting";
@import "school/setting/semester-setting/semester-setting";