@import "../bower_components/angular-material/angular-material.scss";
@import "app.variables";
@import "app/core/clock/clock";
@import "app/core/toolbar-logo/toolbar-logo"; 
body {
  background-color: $appBackground;
}