$appBackground: #BF9B30;
$mainFrameBackground: rgba(255, 255, 255, 0.2);
$borderColor: rgba(227, 225, 225, 0.2);
$clockWidth: 81%;
$subTitleFontSize: 12px;
$logoHeight: 55px;
$logoWidth: 55px;
$pageControlBorder: 2px solid white;
$navBackgroundLink: #646484;
$sidenavLeftWidth: 225px;