export-in-progress {
  .md-subheader {
    @extend .primary;
    height: 40px !important;
  }
  .toggle-shown {
    cursor: pointer;
    md-icon {
      color: $white;
    }
  }
  md-list {
    padding-top: 0;
    background-color: $white;
    border-radius: 2px;
  }
  md-list-item {
    border-bottom: 1px solid darken($borderColor, 10);
    padding: 2px !important;
    .md-item-div {
      width: 100%;
      padding-bottom: 2px;
      padding-right: 10px;
    }
    .md-circular {
      padding-top: 15px;
    }
  }
}