<md-list ng-if="exportInProgress.exports && exportInProgress.exports.length">
    <md-subheader class="md-no-sticky">
        <span layout="row">
            <span>Export in-progress</span><span flex></span>
            <a class="toggle-shown" ng-click="exportInProgress.shown=!exportInProgress.shown">
                <md-icon ng-if="!exportInProgress.shown" md-font-icon="fa fa-plus"></md-icon>
                <md-icon ng-if="exportInProgress.shown" md-font-icon="fa fa-minus"></md-icon>
            </a>
        </span>
    </md-subheader>
    <md-list-item ng-if="exportInProgress.shown" ng-repeat="export in exportInProgress.exports">
        <div layout="row" class="md-item-div">
            <div class="md-circular">
                <md-progress-circular class="md-hue-2"
                                      md-diameter="40px"></md-progress-circular>
            </div>
            <div class="md-list-item-text" layout="column" flex>
                <h4 md-tooltip="{{ export.description }}" class="md-primary">
                    <md-tooltip md-direction="top">
                        {{export.description}}
                    </md-tooltip>
                    {{ export.description }}
                </h4>
                <md-progress-linear md-mode="determinate"
                                    value="{{exportInProgress.getPercent(export)}}"></md-progress-linear>
            </div>
        </div>
    </md-list-item>
</md-list>